h1{
text-align: center;
color: lightcoral;
font-size: 3em;
}

body > header {
    background-image: url("https://data.whicdn.com/images/323132476/original.jpg");
    padding: 40px 10px;
}
h2{
    text-align: center;
    color: black;
}
